<!-- Modal -->
<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="emailModalLabel"><%= title %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <p><%= content %></p>
        <h2>Email</h2>
        <%= simple_form_for :order, url: path, method: :get do |f| %>
          <%= f.input :email, placeholder: "john.smith@gmail.com", label: false %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-small-marron-dark" data-dismiss="modal">Annuler</button>
        <%= f.submit 'Finaliser', class: "btn-small-red" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
