<div class="navbar-dropdown">
  <input id="toggle" type="checkbox"/>
  <label class="hamburger" for="toggle">
    <div class="top"></div>
    <div class="meat"></div>
    <div class="bottom"></div>
  </label>

  <div class="nav">
    <div class="nav-wrapper">
      <nav>
        <%= link_to "Le questionnaire", quizz_informations_path, class: "navbar-link" %>
        <%= link_to "Les e-books", books_path, class: "navbar-link" %>
        <%= link_to "Qui suis-je ?", biography_path, class: "navbar-link"  %>
        <%= link_to "Contact", new_contact_path(anchor: "contact"), class: "navbar-link"  %>
        <%= link_to "Les ressources", ressources_path, class: "navbar-link"  %>
      </nav>
    </div>
  </div>
</div>
