<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag "logo.png" %>
  </a>

<%#= link_to "avoir des infos sur test", quizz_informations_path %>
<%#= link_to "La liste de mes livre", books_path %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right d-none d-md-block">
    <%= link_to "Le questionnaire", quizz_informations_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Les e-books", books_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <a href="#" class="navbar-wagon-item navbar-wagon-link">Qui suis-je ?</a>
    <a href="#" class="navbar-wagon-item navbar-wagon-link">Contact</a>
    <a href="#" class="navbar-wagon-item navbar-wagon-link">Les ressources</a>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item d-block d-md-none">
    <div class="dropdown">
      <i class="fa fa-bars" data-toggle="dropdown"></i>
      <div class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <%= link_to "Le questionnaire", quizz_informations_path, class: "dropdown-item" %>
        <%= link_to "Les e-books", books_path, class: "dropdown-item" %>
        <a class="dropdown-item" href="#"></a>
        <a class="dropdown-item" href="#">Contact</a>
        <a class="dropdown-item" href="#">Les ressources</a>
      </div>
    </div>
  </div>
</div>

<div style="height: 70px;"></div>
