<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <div class="d-none d-md-block">
      <%= image_tag "logo-navbar.png", alt: "Logo Ingrid Meunier" %>
    </div>
    <div class="d-block d-md-none">
      <%= image_tag "logo-small.png", alt: "Logo Ingrid Meunier" %>
    </div>
  </a>

  <div class="d-none d-md-block">
    <div class="d-flex align-items-center justify-content-between">
      <%= link_to "Le questionnaire", quizz_informations_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Les e-books", ebook_surdoues_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Qui suis-je ?", specialiste_adultes_surdoues_path, class: "navbar-wagon-item navbar-wagon-link"  %>
      <%= link_to "Contact", new_contact_path, class: "navbar-wagon-item navbar-wagon-link"  %>
      <%= link_to "Les ressources", ressources_haut_potentiel_path, class: "navbar-wagon-item navbar-wagon-link"  %>
<!--       <%# if current_user %>
        <%#= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link" %>
      <%# else %>
        <div class="navbar-wagon-item">
          <%#= link_to "Se connecter", new_user_session_path, class: "px-0 navbar-wagon-item navbar-wagon-link" %>
          /
          <%#= link_to "S'inscricre", new_user_registration_path, class: "px-0 navbar-wagon-link" %>
        </div>
      <%# end %> -->
    </div>
  </div>

  <div class="d-block d-md-none">
    <%= render "shared/navbar_burger" %>
  </div>
</div>

<div style="height: 70px;"></div>
