<div class="navbar-dropdown">
  <input id="toggle" type="checkbox"/>
  <label class="hamburger" for="toggle">
    <div class="top"></div>
    <div class="meat"></div>
    <div class="bottom"></div>
  </label>

  <div class="nav">
    <div class="nav-wrapper">
      <nav>
        <%= link_to "Accueil", root_path, class: "navbar-link" %>
        <%= link_to "Le questionnaire", quizz_informations_path, class: "navbar-link" %>
        <%= link_to "Les e-books", ebook_surdoues_path, class: "navbar-link" %>
        <%= link_to "Qui suis-je ?", specialiste_adultes_surdoues_path, class: "navbar-link"  %>
        <%= link_to "Contact", new_contact_path, class: "navbar-link"  %>
        <%= link_to "Les ressources", ressources_haut_potentiel_path, class: "navbar-link"  %>
      </nav>
    </div>
  </div>
</div>
