<%#= link_to "avoir des infos sur test", quizz_informations_path %>
<%#= link_to "La liste de mes livre", books_path %>


<div class="banner d-flex align-items-center flex-column">
  <%= image_tag "logo.png" %>
  <p class="pushline">Be yourself : Il n’est jamais trop tard pour être soi même</p>

</div>

<div class="wrapper bg-marron-light">
  <div class="container">
    <div class="row text-center p-5">
      <p>Au travers de mon site, je tente d’offrir de façon la plus accessible, exhaustive et synthétique possible, les réponses aux questions inhérentes à la découverte de sa douance pour devenir un <b>"surdoué décomplexé"</b></p>
    </div>
  </div>
  <div class="wrapper-grid">
    <div class="col_third">
      <div class="hover panel d-flex justify-content-center">
        <div class="front">
          <div class="box1 d-flex align-items-end">
            <%= image_tag "pictos1.png" %>
          </div>
        </div>
        <div class="back">
          <div class="box2">
            <h2>Titre</h2>
            <p>Back Side</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col_third">
      <div class="hover panel d-flex justify-content-center">
        <div class="front">
          <div class="box1 d-flex align-items-end">
            <%= image_tag "pictos2.png" %>
          </div>
        </div>
        <div class="back">
          <div class="box2">
            <h2>Titre</h2>
            <p>Back Side</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col_third end">
      <div class="hover panel d-flex justify-content-center">
        <div class="front">
          <div class="box1 d-flex align-items-end">
            <%= image_tag "pictos3.png" %>
          </div>
        </div>
        <div class="back">
          <div class="box2">
            <h2>Titre</h2>
            <p>Back Side</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shared/transition", image_path: "transitions/meeting.jpg",
                                title: "Suis-je concerné ?",
                                content: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque mollitia velit,. "  %>


<div class="wrapper text-center">
  <div class="container">
    <div class="content p-5">
      <h2>La démarche</h2>
      <p>Quand on se pense ou se découvre <b>surdoué</b>, on a besoin de savoir <b>VITE</b> ce qu’il en est. Se déclenche un fort sentiment d’empressement <b>à comprendre, savoir et solutionner</b>. Je vous mets à dispositions <b>3 manières possibles</b> d’y arriver, délivrant <b>3 types de services.</b></p>
    </div>
    <div class="row">
      <div class="col-md-5">
        <h2>Comment ?</h2>
        <a class="btn-item bg-green d-flex justify-content-between m-2" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1">
          <i class="d-flex align-items-center justify-content-center fas fa-question"></i>
          <div class="title d-flex align-items-center justify-content-center"><div>Le site et le questionnaire</div></div>
        </a>

        <div class="collapse" id="collapse1">
          <div class="card card-body">
            Un QUESTIONNAIRE qui permet d’avoir une premiere approche personnelle de son éventuel surdon ainsi que des EXPLICATIONS.
          </div>
        </div>

        <a class="btn-item bg-blue d-flex justify-content-between m-2" data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapse2">
          <i class="d-flex align-items-center justify-content-center fas fa-book"></i>
          <div class="title d-flex align-items-center justify-content-center"><div>Les ebooks</div></div>
        </a>

        <div class="collapse" id="collapse2">
          <div class="card card-body">
            Des E-BOOKS qui reprennent tous les éléments “essentiels” que je fournis lors de mes consultations.
          </div>
        </div>

        <a class="btn-item bg-orange d-flex justify-content-between m-2" data-toggle="collapse" href="#collapse3" role="button" aria-expanded="false" aria-controls="collapse3">
          <i class="d-flex align-items-center justify-content-center fas fa-video"></i>
          <div class="title d-flex align-items-center justify-content-center"><div>Les visiodiscutions</div></div>
        </a>

        <div class="collapse" id="collapse3">
          <div class="card card-body">
            Des VISIODISCUTIONS pour me parler qui répondent aux questions de façon personnalisée.
          </div>
        </div>

      </div>
      <div class="col-md-2">
        <%= image_tag "target.png", class: "target" %>
      </div>
      <div class="col-md-5">
        <h2>Quoi ?</h2>
        <a class="btn-item bg-green d-flex justify-content-between m-2" data-toggle="collapse" href="#collapse4" role="button" aria-expanded="false" aria-controls="collapse4">
          <div class="title d-flex align-items-center justify-content-center">
            <div>Informations sur les surdoués</div>
          </div>
          <i class="d-flex align-items-center justify-content-center fas fa-info"></i>
        </a>

        <div class="collapse" id="collapse4">
          <div class="card card-body">
            Des INFORMATIONS sur le fonctionnement des surdoués, des normaux pensants et du monde.
          </div>
        </div>

        <a class="btn-item bg-blue d-flex justify-content-between m-2" data-toggle="collapse" href="#collapse5" role="button" aria-expanded="false" aria-controls="collapse5">
          <div class="title d-flex align-items-center justify-content-center">
            <div>Solutions, trucs et astuces</div>
          </div>
          <i class="d-flex align-items-center justify-content-center far fa-lightbulb"></i>
        </a>

        <div class="collapse" id="collapse5">
          <div class="card card-body">
            Des SOLUTIONS, des TRUCS ET ASTUCES, du concret à mettre en place.
          </div>
        </div>

        <a class="btn-item bg-orange d-flex justify-content-between m-2" data-toggle="collapse" href="#collapse6" role="button" aria-expanded="false" aria-controls="collapse6">
          <div class="title d-flex align-items-center justify-content-center">
            <div>Une écoute éclairée</div>
          </div>
          <i class="d-flex align-items-center justify-content-center far fa-comments"></i>
        </a>

        <div class="collapse" id="collapse6">
          <div class="card card-body">
            Une ECOUTE éclairée et professionnelle.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shared/transition", image_path: "transitions/book.jpg",
                                title: "Je souhaite comprendre",
                                content: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque mollitia velit,. "  %>


<div class="wrapper bg-marron-light text-center">
  <div class="container">
    <div class="content p-5">
      <h2>L’accompagnement</h2>
      <p><b>Etre surdoué n’est ni une névrose, ni une pathologie. Il n’y a donc pas lieu d’engager une thérapie pour cela.</b></p>

      <%= image_tag "nevroses.png", class: "width-100" %>

      <p>Le haut potentiel n’est qu’un <b>mode de fonctionnement neuronale atypique</b> qu’il faut savoir <b>appréhender, apprivoiser et utiliser à son avantage</b>. Au meme titre qu’un gadget High Tech que l’on apprend à manipuler et à optimiser grâce à la notice.</p>

      <p>
        J’ai pris le partie de me focaliser <b>uniquement sur le prisme du haut potentiel</b>. Et donc de ne travailler que sur les particularisme de la douance. Cependant, sachant qu’un surdoué peut avoir, comme tout un chacun, des névroses, il pourra bien sûr envisager à sa convenance de les traiter avec mes collègues…
      </p>
    </div>

    <div class="qote d-flex justify-content-center">
      <div class="qote-content">
        <i class="d-flex align-items-center justify-content-center qote-i fas fa-quote-right"></i>
        <p><i><b>On ne devient pas normal impunément</b></i></p>
        <hr>
        <hr>
        <h3>Le philosophe Emile Cioran</h3>
      </div>
    </div>

  </div>
</div>



<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script>
  $(document).ready(function(){
    $('.hover').hover(function(){
      $(this).addClass('flip');
    },function(){
      $(this).removeClass('flip');
    });
  });
</script>

