<%#= link_to "avoir des infos sur test", quizz_informations_path %>
<%#= link_to "La liste de mes livre", books_path %>




<div class="wrapper bg-marron-light">
  <div class="container">
    <div class="row text-center px-3">
      <p>
      <div class="banner d-flex align-items-center flex-column">
        <%= image_tag "logo.png" %>
        <p class="pushline">Be yourself : Il n'est jamais trop tard pour être soi même</p>

      </div>
      <p>
        Pourquoi décomplexé? Car <b>être surdoué n'est ni honteux, ni une insulte, ni de l'orgueil mal placé</b>. Etre surdoué est une <b>chance</b> quand on sait l'exploiter.
      </p>
      <p>
        Forte de mes <b>14 ans d'expérience dans l'accompagnement du haut potentiel</b> (bénévole et professionnelle) je souhaite mettre <b>mon expertise de psychothérapeute</b> à votre service.
      </p>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4">
        <div class="hover panel d-flex justify-content-center">
          <div class="front">
            <div class="box1 d-flex align-items-center">
              <%= image_tag "pictos1.png" %>
            </div>
          </div>
          <div class="back">
            <div class="box2">
              <h2>Suis-je concerné ?</h2>
              <p>Vous trouverez ici des informations concernant la douance, les tests de QI et les diagnostics, des témoignages ainsi qu'un questionnaire de 73 questions</p>
              <br>
              <%= link_to "Le questionnaire", quizz_informations_path, class: "btn-red" %>

            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4">
        <div class="hover panel d-flex justify-content-center">
          <div class="front">
            <div class="box1 d-flex align-items-center">
              <%= image_tag "pictos2.png" %>
            </div>
          </div>
          <div class="back">
            <div class="box2">
              <h2>Je souhaite comprendre</h2>
              <p>Vous trouverez ici des e-books sur le fonctionnement de la douance, avec des conseils et trucs et astuces</p>
              <br>
              <%= link_to "Les ebooks", books_path, class: "btn-red" %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4">
        <div class="hover panel d-flex justify-content-center">
          <div class="front">
            <div class="box1 d-flex align-items-center">
              <%= image_tag "pictos3.png" %>
            </div>
          </div>
          <div class="back">
            <div class="box2">
              <h2>Je souhaite en discuter</h2>
              <p>Vous trouverez ici les modalités pour me contacter et me parler via un appel vidéo</p>
              <br>
              <%= link_to "Contact", new_contact_path, class: "btn-red" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shared/transition", image_path: "transitions/meeting.jpg",
                                title: "Il n'est jamais trop tard pour etre ce que vous auriez pu être.",
                                content: "George Eliot, romancière"  %>


<div class="wrapper text-center bg-marron-light">
  <div class="container">
    <div class="content py-5">
      <h2>La démarche</h2>
      <p>
        Quand on se pense ou se découvre surdoué, on a besoin de savoir <b>rapidement</b> ce qu'il en est. Se déclenche un fort sentiment d'empressement à comprendre, savoir et solutionner.
      </p>
      <p>
        Je vous mets à dispositions <b>3 manières possibles</b> d'y arriver, délivrant <b>3 types de services</b>.
      </p>
    </div>
    <div class="row">
      <div class="col-md-5">
        <h2>Comment ?</h2>


        <div class="my-collapse">
          <div class="btn-item bg-green d-flex justify-content-between m-2">
            <i class="d-flex align-items-center justify-content-center fas fa-question"></i>
            <div class="title d-flex align-items-center justify-content-center">
              <div>
                Le site et le questionnaire
              </div>
            </div>
          </div>
          <div class="card card-body d-none">
            Un QUESTIONNAIRE qui permet d'avoir une premiere approche personnelle de son éventuel surdon ainsi que des EXPLICATIONS.
          </div>
        </div>

        <div class="my-collapse">
          <div class="btn-item bg-blue d-flex justify-content-between m-2">
            <i class="d-flex align-items-center justify-content-center fas fa-book"></i>
            <div class="title d-flex align-items-center justify-content-center"><div>Les ebooks</div></div>
          </div>

          <div class="card card-body d-none">
            Des E-BOOKS qui reprennent tous les éléments "essentiels" que je fournis lors de mes consultations.
          </div>
        </div>

        <div class="my-collapse"">
          <div class="btn-item bg-orange d-flex justify-content-between m-2">
            <i class="d-flex align-items-center justify-content-center fas fa-video"></i>
            <div class="title d-flex align-items-center justify-content-center"><div>Les visiodiscutions</div></div>
          </div>

          <div class="card card-body d-none">
            Des VISIODISCUTIONS pour me parler qui répondent aux questions de façon personnalisée.
          </div>
        </div>

      </div>
      <div class="col-md-2">
        <%= image_tag "target.png", class: "target max-w-150px" %>
      </div>
      <div class="col-md-5">
        <h2>Quoi ?</h2>

        <div class="my-collapse">
          <div class="btn-item bg-green d-flex justify-content-between m-2">
            <div class="title d-flex align-items-center justify-content-center">
              <div>Informations sur les surdoués</div>
            </div>
            <i class="d-flex align-items-center justify-content-center fas fa-info"></i>
          </div>

          <div class="card card-body d-none">
            Des INFORMATIONS sur le fonctionnement des surdoués, des normaux pensants et du monde.
          </div>
        </div>

        <div class="my-collapse">
          <div class="btn-item bg-blue d-flex justify-content-between m-2">
            <div class="title d-flex align-items-center justify-content-center">
              <div>Solutions, trucs et astuces</div>
            </div>
            <i class="d-flex align-items-center justify-content-center far fa-lightbulb"></i>
          </div>

          <div class="card card-body d-none">
            Des SOLUTIONS, des TRUCS ET ASTUCES, du concret à mettre en place.
          </div>
        </div>

        <div class="my-collapse">
          <div class="btn-item bg-orange d-flex justify-content-between m-2">
            <div class="title d-flex align-items-center justify-content-center">
              <div>Une écoute éclairée</div>
            </div>
            <i class="d-flex align-items-center justify-content-center far fa-comments"></i>
          </div>

          <div class="card card-body d-none">
            Une ECOUTE éclairée et professionnelle.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shared/transition", image_path: "transitions/book.jpg",
                                title: "Un surdoué ne se sent ni doué, ni sûr",
                                content: ""  %>


<div class="wrapper bg-marron-light text-center">
  <div class="container">
    <div class="content py-5">
      <h2>L'accompagnement</h2>
      <p><b>Etre surdoué n'est ni une névrose, ni une pathologie. Il n'y a donc pas lieu d'engager une thérapie pour cela.</b></p>

      <div class="d-none d-md-block">
        <%= image_tag "nevroses.png", class: "w-100" %>
      </div>

      <div class="d-md-none">
        <%= image_tag "nevroses-crop.png", class: "w-100" %>
      </div>

      <p>Le haut potentiel n'est qu'un <b>mode de fonctionnement neuronale atypique</b> qu'il faut savoir <b>appréhender, apprivoiser et utiliser à son avantage</b>. Au meme titre qu'un gadget High Tech que l'on apprend à manipuler et à optimiser grâce à la notice.</p>

      <p>
        J'ai pris le partie de me focaliser <b>uniquement sur le prisme du haut potentiel</b>. Et donc de ne travailler que sur les particularisme de la douance. Cependant, sachant qu'un surdoué peut avoir, comme tout un chacun, des névroses, il pourra bien sûr envisager à sa convenance de les traiter avec mes collègues.
      </p>
    </div>

<!--     <div class="qote d-flex justify-content-center">
      <div class="qote-content">
        <i class="d-flex align-items-center justify-content-center qote-i fas fa-quote-right"></i>
        <p><i><b>On ne devient pas normal impunément</b></i></p>
        <hr>
        <hr>
        <h3>Le philosophe Emile Cioran</h3>
      </div>
    </div> -->
    <div class="d-none d-md-block">
      <%= image_tag "calvin.png", class: "max-w-600px" %>
    </div>

  </div>
</div>

<%= render "shared/transition", image_path: "transitions/form.jpg",
                                title: "Il n'y a pas plus grande joie que de de connaître quelqu'un qui voit le même monde que nous, c'est apprendre que l'on était pas fou.",
                                content: "Christian Bobin"  %>


<div class="wrapper text-center bg-marron-light">
  <div class="container">
    <div class="content py-5">
      <h2>Ca me parle</h2>
      <p>
        <b>Témoignages issus du livre de Audrey Bouquet
        "<%= link_to "À la rencontre de mes semblables à rayures", ressources_path(anchor: "audrey-bouquet") %>"
        </b>
      </p>

      <div class="d-none d-md-block">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <div class="border border-dark p-2">
                      <h3>Gaëlle</h3>
                      <p>"Quand j'ai su que j'étais zèbre, je me suis dit <b>"OK. Qu'est ce je fais de ça maintenant ?"</b>. J'avais besoin de <b>réponses</b>, d'en discuter avec quelqu'un, de comprendre ce que pouvait m'apporter cette découverte..."</p>

                      <a href="#" data-toggle="modal" data-target="#gaelleModal">Lire la suite</a>

                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="border border-dark p-2">
                      <h3>Romain</h3>
                      <p>"Quand tu ne sais pas que tu es surdoué, mais que tu commences à percevoir des éléments à ce sujet, tu es rattrapé par ça un jour ou l'autre (...). C'est vraiment l'image, car à chaque fois que j'ai voulu enterrer le truc..."</p>

                      <a href="#" data-toggle="modal" data-target="#romainModal">Lire la suite</a>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="border border-dark p-2">
                      <h3>Edwige</h3>
                      <p>"En deuxiéme et troisème année de psycho, nous nous entrainons à passer des tests et le prof m'a fait passer le WAIS entièrement. Il m'a donné le score et j'ai dit "Oui, bien sûr, vous avez raison! Il n'y aurait pas un..."</p>

                      <a href="#" data-toggle="modal" data-target="#edwigeModal">Lire la suite</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <div class="border border-dark p-2">
                      <h3>Zébrette</h3>
                      <p>"J'ai souvent entendu que les <b>surdoués</b>, HP, zèbres... <b>c'est Einstein, Mozart... sauf que non, pas forcément</b>. Il y a une espèce de tabou sur le sujet, surtout en entreprise où on m'a plusieurs fois fait remarquer..."</p>

                      <a href="#" data-toggle="modal" data-target="#zebretteModal">Lire la suite</a>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="border border-dark p-2">
                      <h3>Gaëlle</h3>
                      <p>"A vingt ans, je n'avais pas vraiment de recul sur ma vie. Mais à partir de trente, j'ai commencé à identifier plus facilement les schémas répétitifs qui jalonnaient mon existence. Je trouve que l'un des plus évidents et..."</p>

                      <a href="#" data-toggle="modal" data-target="#gaelle2Modal">Lire la suite</a>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="border border-dark p-2">
                      <h3>Catherine</h3>
                      <p>"J'ai tellement eu le sentiment de ne pas être comprise que je pense qu'à un moment, je n'ai plus cherché à dire qui je suis. Ce qui a désormais changé, c'est que je suis plus attentive à rencontrer des personnes comme moi..."</p>

                      <a href="#" data-toggle="modal" data-target="#catherineModal">Lire la suite</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <div class="border border-dark p-2">
                      <h3>Anne</h3>
                      <p>"Maintenant que j'ai cette donnée de qui je suis, <b>pourquoi devrais-je me cantonner à un seul truc</b> alors que je peux mener de front plusieurs projets. Nous ne sommes pas obligés de choisir! J'ai une machine à coudre..."</p>

                      <a href="#" data-toggle="modal" data-target="#anneModal">Lire la suite</a>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="border border-dark p-2">
                      <h3>Marianne</h3>
                      <p>"<b>Me poser toujours 36000 questions</b>, c'est ce qui caractérise essentiellement mon mode de pensée ! J'essaie depuis quelque temps de trouver des stratégies de contournement pour ne pas être trop polluée par ces..."</p>

                      <a href="#" data-toggle="modal" data-target="#marianneModal">Lire la suite</a>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="border border-dark p-2">
                      <h3>R.</h3>
                      <p>"C'est un peu le probléme de se poser des <b>questions philosophiques pour tout et rien</b>, pour des choix à faire. J'ai de <b>grosses difficultée à faire des choix</b>. Pour caricaturer : quand j'ai à choisir entre un pain..."</p>

                      <a href="#" data-toggle="modal" data-target="#rModal">Lire la suite</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>

<%= render "feedback_modal", id: "gaelleModal", title: "Gaëlle", content: '<p>"Quand j\'ai su que j\'étais zèbre, je me suis dit <b>"OK. Qu\'est ce je fais de ça maintenant ?"</b>. J\'avais besoin de <b>réponses</b>, d\'en discuter avec quelqu\'un, de comprendre ce que pouvait m\'apporter cette découverte. Le sentiment de devoir <b>renouer avec cette part de moi-même était primordial</b>. Et j\'ai compris rapidement que rencontrer des gens comme moi était fondamental. Il y a tout d\'abord eu un besoin d\'appartenance à un groupe, pour après m\'en défaire et être vraiment qui je suis. Juste qui je suis et ne plus rentrer dans une case. Pour moi, participer à des groupes de discussions zèbres est important pour me découvrir et me comprendre."</p>' %>

<%= render "feedback_modal", id: "romainModal", title: "Romain", content: '<p>"Quand tu ne sais pas que tu es surdoué, mais que tu commences à percevoir des éléments à ce sujet, tu es rattrapé par ça un jour ou l\'autre (...). C\'est vraiment l\'image, car à chaque fois que j\'ai voulu enterrer le truc, j\'étais rattrapé par ce questionnement et j\'y repensais. <b>Il faut oser</b>, c\'est important, oser franchir le pas, car dès lors que le questionnement personnel est là, nous sommes <b>légitimes</b>. La légitimité de ce questionnement est là et ce questionnement n\'a pas à etre remis en cause. <b>Les professionnels spécialisés savent accueillir ça</b>. Ils savent réconforter, accompagner. En tous cas, ce n\'est pas de leur côtè qu\'il faut redouter ou craindre quelque chose. Et si j\'ai un regret, c\'est de ne pas m\'avoir fait confiance au moment où je me posais la question."</p>'  %>

<%= render "feedback_modal", id: "edwigeModal", title: "Edwige", content: '<p>"En deuxiéme et troisème année de psycho, nous nous entrainons à passer des tests et le prof m\'a fait passer le WAIS entièrement. Il m\'a donné le score et j\'ai dit "Oui, bien sûr, vous avez raison! Il n\'y aurait pas un soucis par hasard, <b>vous avez dû vous planter non ?</b>". La semaine d\'après, il m\'a fait passer le WISC, le test des enfants, pour voir ce que ça donnait et je me suis retrouvée avec un score de 149 et là encore je me suis dit "Oui, c\'est normal, c\'est pour les enfants donc le score est faussé." C\'était en 2009. Depuis j\'ai avancé là-dessus mais, sur le coup, <b>je n\'y croyais pas une seconde</b>"</p>' %>


<%= render "feedback_modal", id: "zebretteModal", title: "Zébrette", content: '<p>"J\'ai souvent entendu que les <b>surdoués</b>, HP, zèbres... <b>c\'est Einstein, Mozart... sauf que non, pas forcément</b>. Il y a une espèce de tabou sur le sujet, surtout en entreprise où on m\'a plusieurs fois fait remarquer d\'éviter le sujet. <b>Les gens me trouvent bizarre</b> et me le disent souvent, de façon plus ou moins délicate. Dèjà, je suis une femme qui travaille en informatique, ce qui n\'est pas courant"</p>' %>

<%= render "feedback_modal", id: "gaelle2Modal", title: "Gaëlle", content: '<p>"A vingt ans, je n\'avais pas vraiment de recul sur ma vie. Mais à partir de trente, j\'ai commencé à identifier plus facilement les schémas répétitifs qui jalonnaient mon existence. Je trouve que l\'un des plus évidents et contraignants est celui en lien avec le travail. Peut etre parce que j\'y investis beaucoup de temps et d\'énergie. <b>La période la plus longue durant laquelle je suis restée à un poste, c\'est 3 ans 1/2</b>, en me forçant. Et au bout de 2 ans, j\'étais devenue une sorte de zombie."</p>' %>

<%= render "feedback_modal", id: "catherineModal", title: "Catherine", content: '<p>"J\'ai tellement eu le sentiment de ne pas être comprise que je pense qu\'à un moment, je n\'ai plus cherché à dire qui je suis. Ce qui a désormais changé, c\'est que je suis plus attentive à rencontrer des personnes comme moi, aussi car cela vient me nourrir et c\'est tellement bon, <b>juste bon de pouvoir exister là, sans avoir besoin de se justifier</b> sur son mode de fonctionnement."</p>' %>

<%= render "feedback_modal", id: "anneModal", title: "Anne", content: '<p>"Maintenant que j\'ai cette donnée de qui je suis, <b>pourquoi devrais-je me cantonner à un seul truc</b> alors que je peux mener de front plusieurs projets. Nous ne sommes pas obligés de choisir! J\'ai une machine à coudre que j\'ai achetée il y a 2 ans. Je l\'ai ressortie il n\'y a pas longtemps et je fais mon jardin la journe. Mon mari me disait "Tu pars dans tous les sens, n\'importe quoi, tu ne finis même pas un truc...". Mais en fait si, je le fais juste ne plusieurs étapes. J\'ai le sentiment de finir tout ce que je commence."</p>' %>

<%= render "feedback_modal", id: "marianneModal", title: "Marianne", content: '<p>"<b>Me poser toujours 36000 questions</b>, c\'est ce qui caractérise essentiellement mon mode de pensée ! J\'essaie depuis quelque temps de trouver des stratégies de contournement pour ne pas être trop polluée par ces questionnements incessants. Généralement, je pense à quelque chose une fois, puis l\'idée part dans les tréfonds de ma mémoire et ne ressurgit généralement que trop tard. Je note les choses que je dois faire dans une application "Rappels" pour ne rien oublier."</p>' %>


<%= render "feedback_modal", id: "rModal", title: "R.", content: '<p>"C\'est un peu le probléme de se poser des <b>questions philosophiques pour tout et rien</b>, pour des choix à faire. J\'ai de <b>grosses difficultée à faire des choix</b>. Pour caricaturer : quand j\'ai à choisir entre un pain au chocolat et un croissant, très vite, de fil en aiguille, je vais me demander quel est le sens de la vie. Et du coup, plutot que de faire des choix, j\'abandonne, je ne choisis pas. J\'ai une espèce de fuite en avant. C\'est une procrastination déguisée."</p>' %>

