<div class="wrapper text-center bg-marron-light">
  <div class="container">
    <div class="content py-5">

      <i class="fas fa-book pb-3 picto-book"></i>
      <h1 class="mt-5">Les Ressources</h1>

      <h3>Vous trouverez ici des livres, des vidéos et des blogs traitant de la douance sous ses différents aspects.</h3>

      <h2 class="pt-5">Les must read</h2>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="border border-dark d-flex justify-content-between flex-wrap p-4 mb-4">
          <div class="flex-auto">
            <%= image_tag "ressources/je-pense-trop.png", class: "img-thumbnail m-x-5 w-200px" %>
          </div>
          <div class="max-w-850px text-left pl-4">
            <h3>Je pense trop : Comment canaliser ce mental envahissant</h3>
            <p>de <b>Christel Petitcollin</b></p>

            <p><i class="fas fa-plus-square"></i> Le livre est celui que je conseille généralement en premier car facile à lire et vraiment positiviste (et c'est assez rare pour le souligner). Il ne peut que parler aux adultes surdoués qui se retrouveront à 100% dans les ressentis décrits.</p>

            <p><i class="fas fa-minus-square"></i> Le livre se base sur la théorie "cerveau droit/cerveau gauche" qui est une légende urbaine et a été invalidée. L'auteure y a inclu une petite partie ésothérique qui ne me parle pas.</p>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="border border-dark d-flex justify-content-between flex-wrap p-4 mb-4">
          <div class="flex-auto">
            <%= image_tag "ressources/surdoue-ordinaire.png", class: "img-thumbnail m-x-5 w-200px" %>
          </div>
          <div class="max-w-850px text-left pl-4">
            <h3>Les surdoués ordinaires</h3>
            <p>de <b>Nicolas Gauvrit</b></p>

            <p><i class="fas fa-plus-square"></i> Ce livre grand pubic commente et décortique de manière scientifique, honnête et rigoureuse certaines des idées reçues associées à la douance. Nicolas Gauvrit qui est chercheur en sciences cognitives, analyse une dizaine de caractéristiques, suppositions, questions, en se basant sur un panel d'études "scientifiques".</p>

            <p><i class="fas fa-minus-square"></i> L'auteur n'a malheureusement pas été suffisament exaustif dans les thèmes de ses recherches. Sa lecture est parfois un peu ennuyeuse.</p>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="border border-dark d-flex justify-content-between flex-wrap p-4 mb-4">
          <div class="flex-auto">
            <%= image_tag "ressources/JSF.png", class: "img-thumbnail m-x-5 w-200px" %>
          </div>
          <div class="max-w-850px text-left pl-4">
            <h3>Trop intelligent pour être heureux ? L'adulte surdoué</h3>
            <p>de <b>Jeanne Siaud-Facchin</b></p>

            <p><i class="fas fa-plus-square"></i> Ce livre a le mérite d'avoir été l'un des tout premiers. Je le cite car c'est un best seller qui plaît. Mais je ne le recommanderais pas à lire au début.</p>

            <p><i class="fas fa-minus-square"></i> Le petit bémol que je lui trouve c'est d'être un peu trop vulgarisateur et négatif.</p>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="border border-dark d-flex justify-content-between flex-wrap p-4 mb-4">
          <div class="flex-auto">
            <%= image_tag "ressources/la-precosite.png", class: "img-thumbnail m-x-5 w-200px" %>
          </div>
          <div class="max-w-850px text-left pl-4">
            <h3>La précocité dans tous ses états: A la recherche de son identité</h3>
            <p>de <b>Fabrice Bak</b></p>

            <p><i class="fas fa-plus-square"></i> Livre idéal pour ceux qui, après quelques premières lectures sur la douance, souhaitent aller plus loin. L'auteur apporte un éclairage pointu et détaillé sur ce sujet (parfois très technique).</p>

            <p><i class="fas fa-minus-square"></i> De part sa technicité, il s'adresse à mon sens à des lecteurs avertis.</p>
          </div>
        </div>
      </div>

      <div class="col-md-12" id="audrey-bouquet" >
        <div class="border border-dark d-flex justify-content-between flex-wrap p-4 mb-4">
          <div class="flex-auto">
            <%= image_tag "ressources/a-la-rencontre.png", class: "img-thumbnail m-x-5 w-200px" %>
          </div>
          <div class="max-w-850px text-left pl-4">
            <h3>A la rencontre de mes semblables à rayures</h3>
            <p>de <b>Audrey Bouquet</b></p>

            <p>Suite à la découverte de sa douance, Audrey a pris la route avec son camping car pour aller à la rencontre de ses semblables, à savoir les surdoués. Elle a recueilli témoignages et vécus de chacun et en a fait un livre. Les 9 "témoignages" de la page d'accueil en sont des extraits.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shared/transition", image_path: "transitions/book.jpg",
                                title: "On ne devient pas normal impunément.",
                                content: "Emile Cioran, Philosophe"  %>


<div class="wrapper bg-marron-light text-center">
  <div class="container">
    <div class="content py-5">
      <h2>Les must see</h2>
      <div class="mb-5">
        <iframe class="max-w-600px w-100 h-400px" src="https://www.youtube.com/embed/ZMBsJdNuxFg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <h3>Jeanne Siaud Facchin</h3>
      </div>
      <div class="mb-5">
        <iframe class="max-w-600px w-100 h-400px" src="https://www.youtube.com/embed/qPf3hS1iuAM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <h3>Les multipotentiels</h3>
      </div>
      <div class="mb-5">
        <iframe class="max-w-600px w-100 h-400px" src="https://www.youtube.com/embed/A8BcnXmOl_s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <h3>Ex-E.T.</h3>
      </div>
      <div class="mb-5">
        <iframe class="max-w-600px w-100 h-400px" src="https://www.youtube.com/embed/vJ1buvFBt2c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <h3>Cerveau laminaire ou complexe</h3>
      </div>
    </div>
  </div>
</div>



<%= render "shared/transition", image_path: "transitions/book.jpg",
                                title: "Soyez le changement que vous voulez voir dans le monde.",
                                content: "Gandhi, dirigeant politique pacifiste"  %>


<div class="wrapper bg-marron-light text-center">
  <div class="container">
    <div class="content py-5">
      <h2>Les sites/blogs qui valent le détour</h2>
      <%= link_to "http://les-tribulations-dun-petit-zebre.com/", target: "_blank" do %>
        <%= image_tag "ressources/blog1.png", class: "max-w-600px w-100 mt-5" %>
        <h3>Les Tribulations d’un petit zèbre: blog mine d’information</h3>
      <% end %>
      <%= link_to "http://www.talentdifferent.com/", target: "_blank" do %>
        <%= image_tag "ressources/blog2.png", class: "max-w-600px w-100 mt-5" %>
        <h3>Talent différent : blog exaustif</h3>
      <% end %>
    </div>
  </div>
</div>
