<%#= link_to "commencer le test", new_survey_path %>

<div class="wrapper text-center bg-marron-light">
  <div class="container">
    <div class="content p-5">
      <h1>Suis-je concerné ?</h1>

      <h3>Vous trouverez ici des informations concernant la douance, les tests de QI et les diagnostics, des témoignages ainsi qu'un questionnaire de 73 questions</h3>

      <h2>Vous avez dit surdoué ?</h2>


      <p>
        Etre surdoué sans savoir que l'on est concerné, c'est comme essayer de <b>reconstituer un puzzle sans savoir à quoi il doit ressembler</b> et auquel quelques pièces auraient été égarées. Si ces pièces occupent des emplacements clefs, l'image ne sera jamais satisfaisante et les manques apparaîtront avec évidence. C'est se sentir amputé mais de quelle partie?
      </p>

      <h3>Savoir est essentiel</h3>

      <p>
        Un élément fondamental chez l'individu est l'image qu'il a de lui-même. Or dans certains cas, cette <b>image a subi bien des avatars</b> depuis le jour où, enfant, il a pris conscience que <b>quelque chose clochait</b> avec lui et avec ce qui l'entourait. Depuis lors <b>il n'a cessé de chercher</b>.
      </p>

      <p>
        Le simple fait de révéler sa douance à quelqu'un, provoque un <b>soulagement énorme</b>. Pour certain c'est une vraie bouffée d'oxygène car une évidence enfin mis au jour ; pour d'autres cela s‘apparente à un <b>tsunami</b> les obligeant à reprendre leur esprit. L'annonce et les <b>4 séances explicatives</b> qui suivent, ont 80% d'impact sur leur bien être et <b>suffisent amplement à les faire redémarrer une vie nouvelle</b>. Les 20% restant concernent des problématiques plus liées aux névroses classiques. Je me suis donc dit que pour pouvoir soulager beaucoup plus de monde, je devais me concentrer sur ces 4 séances là.
      </p>

    </div>
  </div>
</div>

<%= render "shared/transition", image_path: "transitions/book.jpg",
                                title: "On ne peut pas se penser intelligent, quand on mesure ses propres faiblesses avec la lucidité aiguë du surdoué, qui ne lui permet aucun aveuglement.",
                                content: "Arielle ADDA,Psychologue spécialiste des surdoués"  %>


<div class="wrapper bg-marron-light text-center">
  <div class="container">
    <div class="content p-5">
      <h2>Diagnostic et identification du haut potentiel</h2>


      <h3>Mesure de la douance? Comment s'y prend-on en France?</h3>

      <p>
        En France, dans la majorité des cas, le haut potentiel est évalué sur la base de <b>tests mesurant "l'intelligence"</b> de façon quantitative (donc le <b>QI</b>). Or l'intelligence est très dure à définir et elle continue d'occuper les esprits des chercheurs depuis 1804. Et <b>il n'y a toujours pas de consensus</b> autour de sa définition. De nombreux scientifiques <b>tentent de la mesurer</b> sous différentes formes évaluatives, ce qui nous permet d'avoir accès à moultes types de tests.
      </p>

      <h3>Les principaux outils utilisés</h3>
      <p>
      Les tests les plus connus étant : la WAIS / la WISC - le Cattell - les Matrices de Raven -
      <br>
      la NEMI 2 - le K.ABC - l'EPL - l'EPoC
      </p>
      <div class="text-center d-none d-md-block">
        <%= image_tag "test-tab.png", class: "max-w-850px  w-100" %>
      </div>

      <p>Le 20eme siecle a glorifié l'intelligence rationnelle faisant totalement fi de <b>l'intelligence émotionnelle, intuitive, créative et sociale</b> (qui font pourtant des prouesses, nous aident à faire des choix, à faire des liens, à s'intégrer). Les tests de QI ne détectent pas non plus <b>la rapidité d'apprentissage, la motivation, l'endurance, le rapport à la vie...</b>
      </p>

      <p>
        Pour faire un diagnostic clinique, un médecin se base d'abord sur un faisceau de "signes" : les symptômes, l'historique familial, l'état psychologique global, le vécu, le passé médical etc... Qu'il complète ensuite par un examen des principaux foyers auscultatoires (tension, rythme cardiaque, palpation, fond de l'oeil et poumons...) et vraiment si nécessaires, par des analyses biologiques, qui confirmeront ou infirmeront son diagnostic. Il ne procède pas à l'inverse. Il devrait en être de même pour une évaluation du haut potentiel.
      </p>

      <h3>Selon moi un bon bilan doit se baser sur 3 critères</h3>

      <%= image_tag "test-bilan.png", class: "max-w-600px w-100" %>

      <p>
        Un <b>thérapeute expert</b> pourra ensuite interpréter les résultats et les informations récoltés pour donner <b>ses conclusions</b>.
      </p>

      <p>
        Quelle qu'en soit l'issue, <b>le compte-rendu final ne doit jamais consister en la simple énonciation d'un résultat chiffré</b> mais doit <b>faire l'objet d'explications approfondies et détaillées</b>, complété par un <b>document écrit</b> explicatif et récapitulatif des résultats.
      </p>

    </div>
  </div>
</div>


<%= render "shared/transition", image_path: "transitions/book.jpg",
                                title: "Comment évoluer si nous ne savons pas où nous allons? Comment obtenir ce que nous voulons si nous ne savons pas demander? Comment être heureux si nous ne connaissons pas notre identité ?",
                                content: ""  %>


<div class="wrapper bg-marron-light text-center">
  <div class="container">
    <div class="content p-5">
      <h2>Pourquoi l'assistance d'un psy spécialisé est-il nécessaire ?</h2>
      <p>Je recommande vivement aux personnes souhaitant passer des tests de <b>s'adresser à des professionnels spécialistes de la douance, seuls aptes</b> et à même de <b>percevoir les subtilités de ces profils atypiques</b> étant souvent très bien renseignés. De plus, cela évite que le diagnostic ne se focalise principalement sur le QI par manque de connaissance. Les <b>faux négatifs</b> sont fréquents avec les tests de QI. C'est-à-dire qu'une personne peut très bien être surdouée et ne pas avoir le QI requis pour être diagnostiquée en tant que telle. Ou inversement (<b>faux positifs</b>) une personne ayant un haut QI mais n'ayant pas les caractéristiques sociales, existentielles ou émotionnelles du surdoué.</p>
    </div>
  </div>
</div>

<%= render "shared/transition", image_path: "transitions/book.jpg",
                                title: "Je me heurte parfois à une telle incompréhension de la part de mes contemporains qu'un épouvantable doute m'étreint: suis-je bien de cette planète ? Et si oui, cela ne prouve-t-il pas qu'eux sont d'ailleurs ?",
                                content: "Pierre Desproge, Humoriste et philosophe"  %>


<div class="wrapper bg-marron-light text-center">
  <div class="container">
    <div class="content p-5">
      <h2>Test en auto-évaluation</h2>
      <p>Ce questionnaire a une approche comportementale du haut potentiel et <b>ne détermine pas un diagnostic</b>. Il ne s'agit pas non plus d'un test de QI. Comme vous pourrez le constater dans ce test ni l'intelligence ni les connaissances ne sont testées. Donc avoir un faible score à ce test <b>n'est en rien un signe de manque d'intelligence</b> (au sens psychologique du terme) vous n'êtes juste peut être pas une personne à haut potentiel. Ce test n'a qu'une <b>valeur indicative</b>. Il permet de vous situer et d'avoir une première approche informative de votre potentielle douance.</p>
      <p>
        Il va de soi que toutes les personnes <b>surdouées ne présentent pas 100% des caractéristiques</b> répertoriées (par ailleurs non exhaustif). Chaque personne va utiliser son "potentiel" de départ de façon différente selon sa personnalité, sa résilience, son environnement familial et scolaire et son expérience de vie. Il serait donc réducteur et faux d'affirmer que pour être surdoué il faut correspondre à toutes les caractéristiques citées dans le questionnaire.
      </p>

      <p>
        On peut être surdoué sans avoir su lire avant l'âge de 6 ans ou, aussi étonnant soit-il, sans forcément être hyperémotif ou hyperesthésique. On peut être hypersensible ou avoir une pensée préférentielle en arborescence sans etre surdoué. Pris indépendamment les uns des autres, ces fonctionnements correspondent à tout un chacun. Ce qui en font des éléments de diagnostic c'est le fait d'en cumuler un nombre conséquent (autour de 80 %) et de les vivre de façon <b>exacerbée</b> avec une <b>intensité</b> et une <b>fréquence</b> plus forte que la moyenne.
      </p>

      <h3>Instructions</h3>

      <p>
        Ce questionnaire comprend <b>73 affirmations</b>. Veuillez lire chacune d'elles puis cocher parmi les 4 niveaux de graduation celle qui correspond le plus à ce que vous éprouvez en règle générale. Sachant que "3" correspond à "énormément".
        <br>
        <b>Soyez le plus objectif possible</b>. Décrivez-vous tel(le) que vous êtes actuellement, et non pas comme vous souhaiteriez être à l'avenir. Votre première impression est généralement la plus juste.
      </p>

      <p>
        Il n'y a pas de limite de temps. Généralement, <b>15-20 minutes</b> suffisent, mais prenez tout votre temps.
      </p>
      <div class="fixed-bottom pb-5" id="btn-survey">
        <%= link_to "commencer le test", new_survey_path, class: "btn-red" %>
      </div>
    </div>
  </div>
</div>
