<div class="condition bg-marron-dark border-<%= color %> d-flex justify-content-between m-2">
  <i class="d-flex align-items-center justify-content-center fas fa-<%= icon %> color-<%= color %> border-<%= color %> bg-white"></i>
  <div class="title text-center">
    <h4 class="color-<%= color %>"><%= title %></h4>
    <p><%= content %></p>
  </div>
</div>
