<div class="col-12 col-md-4">
  <div class="d-flex justify-content-center">
    <div class="book-card">
      <div class="position-relative book-wrapper">
        <%= image_tag display_cover(book), class: "book-card-img" %>
        <div class="book-hover d-none">
          <%= book.abstract %>
        </div>
      </div>
      <div class="book-card-content">
        <div class="book-card-title text-center">
          <%= book.title %>
          <br>
          <%= book.price %>€</div>
        <div class="text-center">
          <% if book.visible? %>
            <%= link_to "Commander", book, class: "btn-red" %>
          <% else %>
            <h3>Actuallement non disponible</h3>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

