<% title "Ebooks sur le haut potentiel, le surdoué et la douance" %>

<div class="wrapper text-center bg-marron-light">
  <div class="container">
    <div class="content py-5">
      <%= image_tag "pictos2.png", class: "max-w-450px w-100 pb-3", alt: "Je souhaite comprendre ma douance" %>

      <h1 class="mt-5">Je souhaite comprendre mon haut potentiel</h1>

      <h3>Vous trouverez ici des e-books sur le fonctionnement de la douance, avec des conseils et trucs et astuces</h3>

      <h2 class="pt-5">Liste des e-books disponibles</h2>
    </div>
    <div class="row">
      <%= render @books %>
    </div>
  </div>
</div>

<%= render "shared/transition", image_path: "transitions/book.jpg",
                                title: "Il faut se ressembler un peu pour se comprendre, mais il faut être un peu différents pour s'aimer.",
                                content: "Paul Geraldy, poète et dramaturge"  %>

<div class="wrapper text-center bg-marron-light">
  <div class="container">
    <div class="content py-5">

      <h2>Pourquoi des e-books sur le haut potentiel ?</h2>


      <p>
        Il ne s'agit nullement ici de réécrire un énième livre dont le marché foisonne depuis une décennie. Avec certains livres de qualité et d'autres qui n'ont pas retenu mon attention (et qui véhiculent souvent moultes mythes et croyances). Vous trouverez ma sélection <%= link_to "ici", ressources_haut_potentiel_path %>.
      </p>

      <p>
        Un cerveau (gérant cognition, émotions, souvenirs, apprentissages, perceptions...) est comme une <b>machine high-tech</b>. Si on ne nous donne pas la bonne notice d'utilisation, nous la pensons peu efficace, peu performante, voir cassée... Or une partie des surdoués n'ont pas reçu la notice adaptée à leur cerveau. Ils ne peuvent donc pas en tirer parti. On ne leur a jamais expliqué qu'ils étaient équipés de particularismes dernier cri qui pouvaient leur être d'une grande aide.
        <br>
        C'est pour cela, j'en suis persuadée, qu'avec <b>la notice explicative adaptée</b> (que j'ai mis sous forme d'ebook), on peut devenir un surdoué <b>épanoui, sans avoir à passer par des consultations en psychothérapie</b>.
      </p>

      <p>
        J'en suis venue à écrire ces e-books à la demande de mes clients qui souhaitaient repartir avec <b>mes schémas, mes dessins, mes explications</b> en matière de psychologie et les solutions que nous avions trouvées en consultation.
      </p>

      <p>
        J'ai pris le parti de subdiviser les informations par thème puisque <b>chacun a des besoins différents</b>.
      </p>

      <%= image_tag "book-mapping.png", class: "max-w-600px w-100", alt: "Thèmes ebook surdoué" %>
    </div>
  </div>
</div>

<%= render "shared/transition", image_path: "transitions/book.jpg",
                                title: "Accepter la part plus sombre de soi et la respecter, c'est s'accorder une vraie valeur.",
                                content: "Jeanne Siaud-Facchin, psychologue spécialiste des surdoués"  %>


<div class="wrapper text-center bg-marron-light">
  <div class="container">
    <div class="content py-5">
      <h2>Dans chaque e-book, vous y trouverez :</h2>
      <div class="d-none d-md-block">
        <%= image_tag "book-composition.png", class: "max-w-850px w-100", alt: "Contenu ebook surdoué" %>
      </div>

      <div class="d-md-none">
        <p>
          Un récapitulatif du <b>fonctionnement</b> et des <b>besoins</b> spécifiques des surdoués
        </p>

        <p>
          Des explications sur les <b>rouages psychologiques</b> en jeu. Plus vous accedez à la connaissance en matière de psychologie, plus vous serez autonomes pour analyser et gérer vous-mêmes les situations à venir.
        </p>

        <p>
          Des <b>conseils, trucs et astuces</b>, recommandations pratiques et concrètes que j'ai pu tester avec la collaboration de nombreux clients.
        </p>
      </div>
    </div>
  </div>
</div>









