<div class="wrapper text-center bg-marron-light min-height-100vh">
  <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="d-flex justify-content-center">
            <div class="book-card">

              <%= image_tag display_cover(@book), class: "book-card-img" %>
              <div class="book-card-content d-flex justify-content-between flex-column">
                <div class="book-card-title text-center"><%= @book.price %>€</div>
                <% if @book.price.zero? %>
                  <button type="button" class="btn-red" data-toggle="modal" data-target="#emailModal">
                    Télécharger
                  </button>

                <% else %>
                  <label class="text-center">
                    <span class="btn-red">Acheter</span>
                    <%#= link_to "Commander", ebook_surdoue_path(@book), class: "btn-red" %>
                    <div class="d-none">
                      <%= form_tag book_orders_path(@book) do %>
                      <!--   <article>
                          <label class="amount">
                            <span>Amount: <%#= humanized_money_with_symbol(@book.price) %></span>
                          </label>
                        </article> -->
                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                          data-name="<%= Book %>"
                          data-description="Book <%= @book.title %>"
                          data-amount="<%= @book.price_cents %>"
                          data-currency="<%= @book.price.currency %>">
                        </script>
                      </div>
                    <% end %>
                  </label>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8 text-left">
          <h1 class="text-center"><%= @book.title %></h1>
          <h3 class="text-center"><%= @book.abstract %></h3>
          <%= @book.description.html_safe %>
        </div>
      </div>
    </div>
  </div>
</div>


<%= render "shared/email_modal",
  title: "Finaliser le téléchargement",
  content: "Veillez compléter votre mail s'il vous plait, afin qu'un lien de téléchargement vous soit envoyé.",
  path: free_order_path(@book) %>
