<h1>Message</h1>

<p><b>Prénom : </b><%= @contact.first_name %></p>
<p><b>Nom : </b><%= @contact.last_name %></p>
<p><b>Email : </b><%= @contact.email %></p>
<p><b>Age : </b><%= @contact.age %></p>
<p><b>Diagnostiqué Haut Potentiel: </b><%= @contact.hp ? "Oui" : "Non" %></p>
<p><b>Prendre rendez-vous : </b><%= @contact.rdv %></p>
<p><b>Pour vous demander des renseignements : </b><%= @contact.informations %></p>
<p><b>Pour une autre raison : </b><%= @contact.other %></p>
<p><b>Complément d'information : </b><%= @contact.complement %></p>
