<div class="bg-marron-light">

  <div class="container text-center">
    <div class="content py-5">

      <h1 class="mt-5">Les résultats de votre test</h1>

      <h2 class="pt-5">Email : <%= @email %></h2>

      <h3>Votre score est le pourcentage de compatibilité avec le profil de haut potentiel.</h3>
    </div>
  </div>
  <div class="text-center">
    <%= render "shared/score_circle", radius: 300, score: @survey["total_score"].to_i  %>
  </div>

  <div class="container text-center">
    <div class="content py-5">
      <h3>Vous avez obtenu un score entre <%= @survey["survey_result"]["min_value"] %>% et <%= @survey["survey_result"]["max_value"] %>%</h3>
      <p><%= @survey["survey_result"]["content"] %></p>
    </div>
  </div>
</div>

<div class="bg-marron-light">
  <div class="container text-center">
    <div class="content py-5">
      <h1>Vos résultats par thématiques</h1>
    </div>
  </div>
</div>

<div class="bg-marron-light">
  <div class="container">
    <div class="row">
      <% @survey["questions_categories"].each do |category| %>
        <% if category["visible"] %>

          <div class="col-md-3 text-center">
            <%= render "shared/score_circle", radius: 176, score: category["weighted_average"].to_i  %>
          </div>
          <div class="col-md-9">
            <h3><%= category["title"] %></h3>
            <p><%= category["content"] %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


